.chapters {
  margin: 2rem;
  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    margin: 1rem;
    p {
      font-size: 1.6rem;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    .lesson {
      display: flex;
      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 1.5rem;
          padding-left: 0.4rem;
        }
      }
      .lesson__content {
        border: 1px solid gray;
        border-radius: 6px;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about__lesson {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          .title {
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;
          }
        }
        .open__btn {
          font-weight: 700;
          font-size: 15px;
          color: #000000;
          width: 8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border: 0.5px solid gray;
          border-radius: 6px;
          padding: 0.5rem;
          cursor: pointer;
        }
      }
      .img {
        height: 58px;
        width: 58px;
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 752px) {
  .hide {
    display: none;
  }
  .lesson__content,
  .about__lesson,
  .exercice__content,
  .about__exercice {
    flex-direction: column;
  }
  .size {
    font-size: 1.2rem !important;
  }
  .top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 6rem;
    .btn {
      padding: 1rem !important;
      margin: 0 !important;
    }
  }
  .title1 {
    p {
      text-align: center;
    }
  }
}
