.layout {
  display: grid;
  grid-template-columns: 277px 5fr;
  grid-template-rows: 1fr 17fr;
}
.sidebar__container {
  grid-row: 1/3;
}
.navbar__container {
  grid-row: 1/2;
}
.outlet {
  grid-row: 2/3;
}
@media only screen and (max-width: 441px) {
  .layout {
    display: block !important;
  }
}
@media only screen and (max-width: 835px) {
  .layout {
    grid-template-columns: 180px 5fr;
  }
}
@media only screen and (max-width: 553px) {
  .layout {
    grid-template-columns: 5fr;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggled {
  display: none;
  z-index: 0;
}
