.layout {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media only screen and (max-width: 598px) {
  .layout {
    grid-template-columns: 110px 1fr;
  }
}
@media only screen and (max-width: 505px) {
  .right {
    display: none;
  }
  .right1 {
    display: block !important;
    margin-top: 1.6rem;
    padding-right: 2rem;
  }
  .layout {
    grid-template-columns: 1fr;
    display: flex;
  }
}
.right1 {
  display: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggled {
  display: none;
  z-index: 0;
}
